<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • TodoMVC</title>
		<!--<link rel="stylesheet" href="node_modules/todomvc-common/base.css">-->
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<!-- CSS overrides - remove if you don't need it -->
		<!--<link rel="stylesheet" href="css/app.css">-->
		<style>
			[v-cloak] {
				display:none;
			}
		</style>
	</head>
	<body>
		<section class="todoapp" >
			<header class="header">
				<h1>todos</h1>
				<!--<input class="new-todo" placeholder="你将要做什么?" autofocus v-on:keyup.13="enter()">-->
				<input class="new-todo" placeholder="你将要做什么?" autofocus @keyup.enter="addTodo()" v-model="newTodo">
			</header>
			<!-- This section should be hidden by default and shown when there are todos -->
			<section class="main">
				<input class="toggle-all" type="checkbox" v-model="checkAll" >
				<label for="toggle-all" v-show="todos.length" @click="reverseCheckAll()">
					<!--Mark all as complete-->
				</label>
				<ul class="todo-list" v-show="todos.length" >
					<!-- These are here just to show the structure of the list items -->
					<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->

					<!--<li class="completed">-->
						<!--<div class="view">-->
							<!--<input class="toggle" type="checkbox" checked>-->
							<!--<label>Taste JavaScript</label>-->
							<!--<button class="destroy"></button>-->
						<!--</div>-->
						<!--<input class="edit" value="Create a TodoMVC template">-->
					<!--</li>-->
					<!--<li v-bind:class="[completed,todo.completed]" v-for="todo in todos">-->
					<li v-bind:class="{completed:todo.completed,editing:todo.editing}" v-for="todo in filteredTodos">
						<div class="view">
							<input class="toggle" type="checkbox" checked v-model="todo.completed">
							<label @dblclick="editTodo(todo)">{{ todo.title }}</label>
							<button class="destroy" @click="removeTodo(todo)"></button>
						</div>
						<input class="edit" v-model="todo.title"
							   v-todo-focus="todo.editing"
							   @blur="doneEdit(todo)"
							   @keyup.enter="doneEdit(todo)"
							   @keyup.esc="cancelEdit(todo)"
						>
					</li>
					<!--<li>-->
						<!--<div class="view">-->
							<!--<input class="toggle" type="checkbox">-->
							<!--<label>Buy a unicorn</label>-->
							<!--<button class="destroy"></button>-->
						<!--</div>-->
						<!--<input class="edit" value="Rule the web">-->
					<!--</li>-->
				</ul>
			</section>
			<!-- This footer should hidden by default and shown when there are todos -->
			<footer class="footer" v-show="todos.length">
				<!-- This should be `0 items left` by default -->
				<span class="todo-count"><strong>{{ remaining }}</strong> 条未完成</span>
				<!-- Remove this if you don't implement routing -->
				<ul class="filters">
					<li>
						<!--<a class="selected" href="#/" @click="haschange()" :class="{ selected: visibility == 'all' }">全部</a>-->
						<a href="#/" :class="{ selected: visibility == 'all' }">全部</a>
					</li>
					<li>
						<a href="#/active" :class="{ selected: visibility == 'active' }">未完成</a>
					</li>
					<li>
						<a href="#/completed" :class="{ selected: visibility == 'completed' }">已完成</a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<button class="clear-completed" v-show="todos.length > remaining" @click="clearCompleted()">清除已完成</button>
			</footer>
		</section>





		<footer class="info">
			<p>Double-click to edit a todo</p>
			<!-- Remove the below line ↓ -->
			<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<!-- Change this out with your name and url ↓ -->
			<p>Created by <a href="http://todomvc.com">you</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>



		<!-- Scripts here. Don't remove ↓ -->
		<script src="node_modules/vue/dist/vue.min.js"></script>
		<!--<script src="node_modules/todomvc-common/base.js"></script>-->
		<script src="js/app.js"></script>
	</body>
</html>


